html, .main {
	padding:0;
	margin:auto;
	width:680px;
}

body {
	margin:auto;
	font-size: 20px;
}

h1	{
	background-color: #ddeedd;
	padding: 1em;
}

ul	{
	padding: 1em;
}

table, th, td {
	border:1px solid black;
	border-collapse:collapse;
	text-align:center; 
	margin-left:auto; 
	margin-right:auto; 
	border: 1px solid black;
	padding: 5px;
	}

.js {
	color: blue;
	font-family: arial;
	font-size: 14px;
}