
html, .main {
	padding:0;
	margin:auto;
	width:680px;
}

body	{
	margin:auto;
	font-size: 20px;
}


h2, h3, h4, p	{
	text-align: center;
}


#fullTask {

	border-collapse: collapse;
	border: 1px solid black;
	width: 350px;
	background-color: white;
}

table, div {
	margin:auto;
}

tr {

	border: 1px solid black;
	height: 20px;

}

button, label {
	border-radius: 0px;
	font-size: 14px;
	margin: auto;
}

