
/*@import url(https://fonts.googleapis.com/css?family=Dosis:200,400,500,600);
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Dosis&family=Economica&family=Grand+Hotel&family=Muli&family=Open+Sans+Condensed:wght@300&family=Over+the+Rainbow&family=Snowburst+One&family=Sunshiney&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;400;600&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

* {
    box-sizing: border-box;
}

.body {
    
    /*font-family: 'Muli', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Economica', sans-serif;
    font-family: 'Grand Hotel', cursive;
    font-family: 'Muli', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Over the Rainbow', cursive;
    font-family: 'Snowburst One', cursive;
    font-family: 'Sunshiney', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Calligraffitti', cursive;*/
    font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3, h4, p {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    /*font-weight: 200;*/
    color: white;
    color: rwhiteed;
    text-shadow: 2px 2px 15px #3b3b3b;
}

/*div.container h3, div.container p {
  display: inline-block;
  text-align: center;
}*/

/*p {
    color: rwhiteed;
    text-shadow: 2px 2px 15px #3b3b3b;
}*/



body, html {
    /*background-image: url(${weather.iconUrl});*/
    background-color: lightgrey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-backdrop-filter: blur(100px) grayscale(40%);
    backdrop-filter: blur(100px) grayscale(40%);
    z-index: -1;
    
    /*backdrop-filter: blur(50px);
    backdrop-filter: grayscale(40%);*/
    
    /*-webkit-backdrop-filter: grayscale(40%);
    backdrop-filter: grayscale(40%);*/
    /*filter: grayscale(20%);
    filter: opacity(90%)*/
}


.container {
    /*width: 600px;*/    
    /*background-color: #000;*/
    
    display: block;
    margin: 0 auto;
    color: white;
    
    /*border-radius: 10px;*/
    padding-bottom : 50px;
    /*-webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px); */
}

/*.currWeather, .currTemp ,.currData {
    width: 33%;
    height: 100%;
}*/


/*.app-title {
    width: 50%;
    height: 50px;
    
}

.app-title p {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    font-size: 2.2em;
    color: white;
}*/

.notification {
    background-color: #f5f8d7;
    display: none;
}

.notification p {
    color: white;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container {
  /*max-width: 200px;*/
  height: auto;
  /*background-color: deepskyblue;*/
}


.location {
  top: 1em;
}
/*.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}*/

.currIcon, .currData {
  text-align: center;
}

.weather-icon img {
  width: 70%;
  height: 70%;
  display: block;
  margin: 0 auto;
  border: 1px solid lightgrey;
  border-radius: 6px;
}

.forecastIcon img {
  border: 1px solid lightgrey;
  border-radius: 6px;
}


.temperature-value {
    /*width: 33%;*/
    height: auto;
    
}

.temperature-value p {
    padding: 0;
    margin: auto;
    color: rewhited;
    /*font-size: 4em;*/
    font-size: 15vw;
    text-align: center;
}

/*td.currDb {
  overflow: auto;
  text-align: center;
  color: red;
}*/

.temperature-value p:hover {
    
}

.temperature-value span {
    color: white;
    font-size: 0.5em;
}

.temperature-description {
    
}

.temperature-description p {
    padding: 8px;
    margin: 0;
    color: white;
    text-align: center;
    
}

/*.location p {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 0.8em;
}*/

/*.weather-container {
  width: 800px;
}*/

/*div.icon-bar {
  width: 100%;
  background-color: #494949;

}*/

/*.icon-bar a {
  display: inline-block;
  width: 14%;
  text-align: center;
  padding: 10px 0;
  transition: all 0.3s ease;
  color: black;
  font-size: 12px;
}*/

.forecastTitle {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding: auto;
  border-radius: 6px;
  filter: opacity(50%);
  /*margin: auto;*/
  /*outline: 14px solid transparent;*/
  
}

.dayForecast {
  overflow: scroll;
  white-space: nowrap;
  border-radius: 6px;
  /*border: 1px solid lightgrey;*/
}

/*div.forecast {
  overflow: auto;
  white-space: nowrap;
}*/

.forecast {
background-color: black;
/*transition: transform .2s;*/
position: relative;
display: inline-block;
white-space: normal;
width: 160px;
color: white;
text-align: center;
padding: 14px;
text-decoration: none;
margin: 0.2em;
border-radius: 6px;
filter: opacity(50%);
}


.forecast .forecastDetails {
visibility: hidden;
width: 140px;
background-color: darkslategrey;
color: white;
text-align: center;
border-radius: 6px;
padding: 0;
position: absolute;
z-index: 1;
bottom: 2%;
left: 43%;
margin-left: -60px;
opacity:0;
transition: opacity 1s;
box-shadow: 2px 2px 8px white;
}

.forecast:hover .forecastDetails {
visibility: visible;
opacity: 1;
}

/*div.forecastTitle > p {
  text-align: left;
  box-shadow: 2px 2px 8px white;
}*/

/*h1, h2, h3, h4, .forecast p .forecast span, .forecastTitle p, .img {
  filter: opacity(100%);
}*/
