
@import url(https://fonts.googleapis.com/css?family=Dosis:200,400,500,600);
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Dosis&family=Economica&family=Grand+Hotel&family=Muli&family=Open+Sans+Condensed:wght@300&family=Over+the+Rainbow&family=Snowburst+One&family=Sunshiney&display=swap');

* {
    box-sizing: border-box;
}

.body {
    
    font-family: 'Dosis', sans-serif;
    font-family: 'Economica', sans-serif;
    font-family: 'Grand Hotel', cursive;
    font-family: 'Muli', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Over the Rainbow', cursive;
    font-family: 'Snowburst One', cursive;
    font-family: 'Sunshiney', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Calligraffitti', cursive;

}

h1, h3 {
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: 100;
    color: white;
}

/*div.container h3, div.container p {
  display: inline-block;
  text-align: center;
}*/

p {
    color: rwhiteed;
    text-shadow: 2px 2px 8px #494949;
}



body, html {
    /*background-image: url(${weather.iconUrl});*/
    background-color: deepskyblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-backdrop-filter: blur(100px) grayscale(40%);
    backdrop-filter: blur(20px) grayscale(40%);
    z-index: -1;
    
    /*backdrop-filter: blur(50px);
    backdrop-filter: grayscale(40%);*/
    
    /*-webkit-backdrop-filter: grayscale(40%);
    backdrop-filter: grayscale(40%);*/
    /*filter: grayscale(20%);
    filter: opacity(90%)*/
}


.container {
    /*width: 600px;*/    
    /*background-color: #000;*/
    
    display: block;
    margin: 0 auto;
    color: white;
    
    /*border-radius: 10px;*/
    padding-bottom : 50px;
    /*-webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px); */
}

/*.currWeather, .currTemp ,.currData {
    width: 33%;
    height: 100%;
}*/


/*.app-title {
    width: 50%;
    height: 50px;
    
}

.app-title p {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    font-size: 2.2em;
    color: white;
}*/

.notification {
    background-color: #f5f8d7;
    display: none;
}

.notification p {
    color: white;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container {
  /*max-width: 200px;*/
  height: auto;
  /*background-color: deepskyblue;*/
}

.weather-icon {
    width: 100%;
    height: 10em;
}

/*.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}*/

.currIcon {
  text-align: center;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}


.temperature-value {
    /*width: 33%;*/
    height: auto;
    
}

.temperature-value p {
    font-family: 'Dosis', sans-serif, Extra-light 200;
    padding: 0;
    margin: auto;
    color: rewhited;
    /*font-size: 4em;*/
    font-size:12vw;
    text-align: center;
}

/*td.currDb {
  overflow: auto;
  text-align: center;
  color: red;
}*/

.temperature-value p:hover {
    
}

.temperature-value span {
    color: white;
    font-size: 0.5em;
}

.temperature-description {
    
}

.temperature-description p {
    padding: 8px;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

.location p {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 0.8em;
}

/*.weather-container {
  width: 800px;
}*/

/*div.icon-bar {
  width: 100%;
  background-color: #494949;

}*/

/*.icon-bar a {
  display: inline-block;
  width: 14%;
  text-align: center;
  padding: 10px 0;
  transition: all 0.3s ease;
  color: black;
  font-size: 12px;
}*/

.forecastTitle {
  background-color: darkblue;
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding: auto;
  /*margin: auto;*/
  /*outline: 14px solid transparent;*/
  
}

.icon-bar {
  overflow: scroll;
  white-space: nowrap;
  border: 1px solid lightgrey;
}

/*div.forecast {
  overflow: auto;
  white-space: nowrap;
}*/

.forecast {
background-color: rgb(107, 217, 245);
/*transition: transform .2s;*/
position: relative;
display: inline-block;
white-space: normal;
width: 160px;
color: white;
text-align: center;
padding: 14px;
text-decoration: none;
}


.forecast .forecastDetails {
visibility: hidden;
width: 140px;
background-color: darkslategrey;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 0;
position: absolute;
z-index: 1;
bottom: 2%;
left: 43%;
margin-left: -60px;
opacity:0;
transition: opacity 1s;
box-shadow: 2px 2px 8px #d2ddff;
}

.forecast:hover .forecastDetails {
visibility: visible;
opacity: 1;
}
